# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/chess-gui/node_modules
/chess-gui/.pnp
/chess-gui/.pnp.js

# testing
/chess-gui/coverage

# production
/chess-gui/build

# misc
/chess-gui/.DS_Store
/chess-gui/.env.local
/chess-gui/.env.development.local
/chess-gui/.env.test.local
/chess-gui/.env.production.local

/chess-gui/npm-debug.log*
/chess-gui/yarn-debug.log*
/chess-gui/yarn-error.log*
